/* Error: $color: theme-color("primary") is not a color.
 *     ,
 * 509 | $input-btn-focus-color:       rgba($component-active-bg, 1);
 *     |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src/assets/scss/black-dashboard-react/custom/_variables.scss 509:31  @import
 *   src/assets/scss/black-dashboard-react.scss 23:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: theme-color("primary") is not a color.\a     \2577 \a 509 \2502  $input-btn-focus-color:       rgba($component-active-bg, 1);\a     \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src/assets/scss/black-dashboard-react/custom/_variables.scss 509:31  @import\a   src/assets/scss/black-dashboard-react.scss 23:9                      root stylesheet';
}
