.App {
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Dashboard;/* Choose a suitable font family */
  font-size: 17px; /* Set a base font size */
  background-color: #00021f !important; /* Set a background color */
  color: #333; /* Set a default text color */
  background-size:cover; 
  background-repeat: no-repeat; 
  height: 100vh;
  width: 100%;
 
  
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(55, 255, 0);
}

.App-link {
  color: #030505;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5.5%;
} 


body {
  height: 100vh;
  width: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Dashboard;/* Choose a suitable font family */
  font-size: 17px; /* Set a base font size */
  background-color: #00021f !important;/* Set a background color */
  color: #333; /* Set a default text color */
  background-size:cover; 
  background-repeat: no-repeat; 
}


@font-face {
  font-family: Dashboard;
  src: url(./fonts/Dashboard.otf);
}
