.line-graph {
    position: relative;
    top:54vh;
    left: 8vw;
    width: 700px;
    height: 100px;
    z-index: 9999;
    font-family: Dashboard;
    color: #123e3e
}

.radar-chart {
    position: relative;
    top: 11vh;
    right: -12.5vw;
    width: 520px;
    /* height: 150px; */
    color: white;
    z-index: 9999;
    font-family: Dashboard;
}

/* .progress-bar {
    position: relative;
    top: -152.5vh;
    left: 33vw;
    padding-right: 250px;;
    padding-left: 250px;
    margin-right: 35px;;

} */




/* .heat-map {
    position: relative;
    bottom: -22.5%;
    left: 7.1vw;
    width: 60px;
    font-family: Dashboard;
    color: white;
} */