.line-graph {
    position: relative;
    top: -10vh;
    right: 18.5vw;
    width: 650px;
    height: 110px;
    font-family: Dashboard;
    color: #123e3e
}

.radar-chart {
    position: relative;
    top: 0vh;
    right: -28vw;
    width: 520px;
    /* height: 150px; */
    color: white;
    font-family: Dashboard;
}

.progress-bar {
    position: relative;
    top: 17vh;
    left: -2vw;

}




/* .heat-map {
    position: relative;
    bottom: -22.5%;
    left: 7.1vw;
    width: 60px;
    font-family: Dashboard;
    color: white;
} */