body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.144);
}

.sports-page {
    background-image: url('./assets/home_bg.jpg');
    /* Set background image size to cover the entire viewport */
    background-size: cover;
    /* Center the background image */
    background-position: center;
    /* Ensure the background image stays fixed as the viewport scrolls */
    background-attachment:fixed;
    background-color: rgb(255, 0, 0);
    height: 255vh; /* Adjusted to 100vh */
    width: 100%;
    position: absolute;
    top: -5vh;
    z-index: 1000;
}

.sports-container {
    height: 200%;
    width: 100%;
    background-color: #2600ff;
    color: white;
    position: relative;
    top: 5vh;
    right: 20vw;
    display: flex;
    flex-direction: row;
}

