.line-graph {
    position: relative;
    top: 17.5vh;
    right: 19vw;
    width: 650px;
    height: 100px;
    font-family: Dashboard;
    color:white;
}

.radar-chart {
    position: relative;
    top: 7vh;
    right: -31vw;
    width: 610px;
    /* height: 150px; */
    color: white;
    font-family: Dashboard;
}

.progress-bar {
    position: relative;
    top: -41.5vh;
    left: 48vw;
    height: 80px;
    width: 550px;

}


.heat-map {
    position: relative;
    bottom: -22.5%;
    left: 7.1vw;
    width: 650px;
    font-family: Dashboard;
    color: white;
}