body {
    margin: 0;
    padding: 0;
}

.sports-page {
    background-color: rgba(255, 0, 0, 0);
    height: 200vh; /* Adjusted to 100vh */
    width: 100%;
    position:relative;
    top: -10vh;
    right:-8vw;
    z-index: 997;
}

.sports-container {
    height: 170%;
    width: 120%;
    background-color: #000141;
    color: white;
    position: relative;
    top: -5vh;
    right: 15vw;
    display: flex;
    flex-direction: row;
    z-index: 1001;
}

.line-chart {
    position: relative;
    top: 40vh;
    right: 25vw;
}

