.lines-container{
    background-color: rgba(0, 114, 108, 0);
    width: 100%;
    height: 100%;
}

.forwards-image{
    width: 130%
}


.def-image {
    width: 110%
}


.goalie-image {
    width: 130%
}