.content {
    width: 100%;
    text-align: center;
    margin: 5vh auto;
}



.home-container h1 {
    font-family: Oswald;
    font-weight: bold;
    color: #005170;
    position: relative;
    margin-top: -20px;
}

.home-container h2 {
    font-family: Oswald;
    font-weight: bold;
    color: #005170;
    position: relative;
    margin-top: -20px;
}

.home-container h3 {
    font-family: Oswald;
    font-weight: bold;
    color: #005170;
    position: relative;
    margin-top: -20px;
}

.home-container h4 {
    font-family: Oswald;
    font-weight: bold;
    color: #005170;
    position: relative;
    margin-top: -20px;

}

.our-core {
    position: relative;
    font-family: Oswald;
    font-weight: normal;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0);
    color: rgba(255, 255, 255, 0.685);
    margin: 5vh auto;

}

.proven-metrics {
    position: relative;
    font-family: Oswald;
    font-weight: normal;
    line-height: 1.4em;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(0, 0, 0);
    margin: 5vh auto;
}

.scheduling {
    position: relative;
    font-family: Oswald;
    font-weight: normal;
    line-height: 1.4em;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(0, 0, 0);
    margin: 5vh auto;
}

.hockey {
    position: relative;
    font-family: Oswald;
    font-weight: normal;
    line-height: 1.4em;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0);
    color: rgb(0, 0, 0);
    margin: 5vh auto;
}



.laptop-static {
    height: auto;
    border-radius: 25px;
    position: absolute;
    z-index: 999;
    transform: translateX(-50%);
}

.baseball-static {
    border: 5px solid rgb(0, 89, 148);
    height: auto;
    border-radius: 25px;
    position: absolute;
    z-index: 999;
    transform: translateX(-50%);
}

.schedules-static {
    border: 5px solid rgb(0, 89, 148);
    height: auto;
    border-radius: 25px;
    position: absolute;
    z-index: 999;
    transform: translateX(-50%);
}

.hockey-static {
    border: 5px solid rgb(0, 89, 148);
    height: auto;
    border-radius: 25px;
    position: absolute;
    z-index: 999;
    transform: translateX(-50%);
}

.tiles-bar {
    position: relative;
    top: 170.5vh;
}





/* Media Queries for responsiveness */

/* FITS @ 1080p 100% Scaling*/
@media screen and (max-width: 1925px) {

    .home-page {
        background-color: rgba(195, 195, 195, 0.865);
        height: 220vh;
        width: 100%;
        position: absolute;
        top: -10vh;
        left: 0vw;
        background-image: url('./assets/home_bg.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .home-container {
        width: 100%;
        height: 210%;
        background-color: rgba(195, 195, 195, 0.865);
        color: rgb(255, 255, 255);
        position: relative;
        top: 206vh;
        left: 0vw;
    }


    .home-container h1,
    .home-container h2,
    .home-container h3,
    .home-container h4,
    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey,
    .baseball-static,
    .laptop-static,
    .schedules-static,
    .hockey-static {
        font-size: 1.15vw;
    }


    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey {
        width: 33.5%;
    }

    .logo {
        position: relative;


    }

    /*------------SOCCER--------------*/
    .laptop-static {
        top: -180vh;
        left: 70vw;
        max-width: 775px;
    }

    .home-container h1 {
        top: -185vh;
        right: 48.5vw;
    }

    .our-core {
        top: -190vh;
        right: 26vw;
    }

    /*------------BASEBALL--------------*/
    .baseball-static {
        top: -89vh;
        left: 25vw;
        max-width: 750px;
    }

    .home-container h2 {
        top: -124.5vh;
        left: 50.7vw;
    }

    .proven-metrics {
        top: -130vh;
        left: 21vw;
    }

    /*------------BASKETBALL--------------*/
    .schedules-static {
        top: -15vh;
        left: 70vw;
        max-width: 650px;
    }

    .home-container h3 {
        top: -67vh;
        left: 3.7vw;
    }

    .scheduling {
        top: -72vh;
        right: 26vw;
    }

    /*------------HOCKEY--------------*/
    .hockey-static {
        top: 92vh;
        left: 26vw;
        max-width: 875px;
    }

    .home-container h4 {
        top: 7vh;
        left: 52.7vw;
    }

    .hockey {
        top: 2vh;
        left: 23vw;
    }

    .scroll-container {
        position: relative;
        top: 230vh;
        width: 100%;
    }

}



/* FITS @ 2560x1440p 100% Scaling*/
@media screen and (min-width: 2530px) {

    .home-page {
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 100vh;
        width: 100vw;
        align-items: center;
        overflow: auto;
        background-color: rgba(218, 218, 218, 0.829);
        background-image: url('./assets/home_bg.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: Dashboard;

    }

    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.842);
    }



    .home-tiles {
        position: relative;
        bottom: 181vh;
        left: 16vw;
    }

    .one {
        position: relative;
        bottom: 190vh;
        left: 26.5vw;
    }

    .two {
        position: relative;
        bottom: 189.8vh;
        left: 32vw;
    }

    .three {
        position: relative;
        bottom: 190vh;
        left: 37.2vw;
    }

    .one,
    .two,
    .three{
        font-family: Oswald;
        font-size: 19px;
        color: grey;
    }

    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey,
    .baseball-static,
    .laptop-static,
    .schedules-static,
    .hockey-static {
        font-size: 1vw;
    }

    .home-container h1,
    .home-container h2,
    .home-container h3,
    .home-container h4 {
        font-size: 1.3vw;
    }

    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey {
        display: flex;
        flex-direction: column;
        column-width: 20%;
        width: 25%;
        text-align: left;
    }

    /*------------SOCCER--------------*/
    .laptop-static {
        top: 80vh;
        left: 35vw;
        max-width: 775px;
        position: relative;
    }

    .home-container h1 {
        top: 92vh;
        right: 43vw;
    }

    .our-core {
        top: 43vh;
        right: 23.5vw;
    }

    /*------------BASEBALL--------------*/
    .baseball-static {
        top: 105vh;
        left: 25vw;
        max-width: 750px;
    }

    .home-container h2 {
        top: 60vh;
        left: 14.7vw;
    }

    .proven-metrics {
        top: 54vh;
        left: 22.5vw;
    }

    /*------------BASKETBALL--------------*/
    .schedules-static {
        top: 155vh;
        left: 68vw;
        max-width: 650px;
    }

    .home-container h3 {
        top: 107.5vh;
        right: 25vw;
    }

    .scheduling {
        top: 102vh;
        right: 20.1vw;
    }

    /*------------HOCKEY--------------*/
    .hockey-static {
        top: 220vh;
        left: 28vw;
        max-width: 805px;
    }

    .home-container h4 {
        top: 140vh;
        left: 14vw;
    }

    .hockey {
        top: 135vh;
        left: 22.5vw;
    }

    .scroll-container {
        position: relative;
        top: 230vh;
        width: 100%;
    }

    @font-face {
        font-family: Dashboard;
        src: url(./fonts/Dashboard.otf);
    }
}


/* FITS @ 4k 100% Scaling*/
@media screen and (min-width: 3825px) {

    .home-page {
        background-color: rgba(195, 195, 195, 0.865);
        height: 220vh;
        width: 100%;
        position: absolute;
        top: -10vh;
        left: 0vw;
    }

    .home-container {
        width: 90%;
        height: 210%;
        padding: 5%;
        background-color: rgba(195, 195, 195, 0.865);
        color: rgb(0, 0, 0);
        position: relative;
        top: 207.35vh;
        left: 0vw;
    }


    .home-container h1,
    .home-container h2,
    .home-container h3,
    .home-container h4,
    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey,
    .baseball-static,
    .laptop-static,
    .schedules-static,
    .hockey-static {
        font-size: 1.15vw;
    }

    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey {
        width: 27.5%;
    }


    /*------------SOCCER--------------*/
    .laptop-static {
        top: -171vh;
        left: 70vw;
        max-width: 1200px;
    }

    .home-container h1 {
        top: -183vh;
        right: 43.2vw;
    }

    .our-core {
        top: -188vh;
        right: 23vw;
    }

    /*------------BASEBALL--------------*/
    .baseball-static {
        top: -105vh;
        left: 25vw;
        max-width: 1200px;
    }

    .home-container h2 {
        top: -150vh;
        left: 52.5vw;
    }

    .proven-metrics {
        top: -155vh;
        left: 20vw;
    }

    /*------------BASKETBALL--------------*/
    .schedules-static {
        top: -53vh;
        left: 70vw;
        max-width: 1200px;
    }

    .home-container h3 {
        top: -115vh;
        left: 9.5vw;
    }

    .scheduling {
        top: -120vh;
        right: 23vw;
    }

    /*------------HOCKEY--------------*/
    .hockey-static {
        top: 25vh;
        left: 28vw;
        max-width: 1400px;
    }

    .home-container h4 {
        top: -75vh;
        left: 52.5vw;
    }

    .hockey {
        top: -80vh;
        left: 20vw;
    }

    .scroll-container {
        position: relative;
        top: 145vh;
        width: 105%;
    }


}

@media screen and (max-width: 576px) {

    .home-container h1,
    .home-container h2,
    .home-container h3,
    .home-container h4,
    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey,
    .baseball-static,
    .laptop-static,
    .schedules-static,
    .hockey-static {
        font-size: 5vw;
    }

    .our-core,
    .proven-metrics,
    .scheduling,
    .hockey {
        line-height: 3.5em;
    }
}