body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: red;
}

.content {
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin-top: 5vh; /* Adjust margin using vh */
    flex: 1;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 3vh; /* Adjust using vh */
    left: -10vw;
}

.about {
    margin-bottom: 5vh; /* Adjust margin using vh */
}

.landing-reviews {
    height: 13vh; /* Adjust height using vh */
    width: 20vw; /* Adjust width using vw */
    margin-top: 5vh; /* Adjust margin using vh */
    padding: 2vh; /* Adjust padding using vh */
    background-color: #444e8341;
    color: white;
    border-radius: 3vh; /* Adjust border radius using vh */
    box-shadow: 2vw 2vw 10vh rgb(0, 56, 119); /* Adjust box shadow using vw and vh */
    border: solid 0.5px rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    top: 30vh; /* Adjust using vh */
    left: 58vw; /* Adjust using vw */
    animation: revealText 1.5s forwards;
}

.logo {
    position: absolute;
    top: 13vh; /* Adjust using vh */
    left: 16vw; /* Adjust using vw */
}

.ts-logo {
    position: absolute;
    top: 19vh; /* Adjust using vh */
    left: 7vw; /* Adjust using vw */
}

.review-image {
    margin: 0 1vw; /* Adjust spacing between images using vw */
    width: 10vw; /* Adjust image size as needed using vw */
}

.scroll-container {
    width: 100%;
}
