.hockey-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ice-navbar-frame {
    width: 105vw;
    height: 150px;
    /* Adjust the height as needed */
    background-color: #001836;
    /* Or any color you prefer */
    position: relative;
    top: -46.28vh;
    left: 19vw;
    z-index: 1000;
    /* Ensure it stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Adjust padding as needed */
    box-shadow: 0 2px 4px #0000001a;
    /* Optional: adds a subtle shadow */
    border-bottom: 5px solid white;
  }
  
  .ice-navbar-frame::after {
    content: '';
    /* Required for pseudo-elements */
    position: relative;
    /* Position the pseudo-element relative to its parent */
    top: 6.0vh;
    /* Position it at the bottom */
    left: -2.5%;
    /* Adjust this value to control where the border ends */
    width: 12%;
    /* Adjust this value to control the width of the border */
    height: 10.5px;
    /* Set the height of the border */
    background-color: #001836;
    /* Set the color of the border */
    z-index: 9999;
  }




.panel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Added */
    padding: 10px;
    background-color: #38383863;
    /* Adjust background color as needed */
}

.panel-text {

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1800px;
    font-size: 27px;
    bottom: 4vh;
    font-weight: bold;
    color: #0400ff;
}

.panel-text p {
    position: relative;
    top: -4vh;
    font-size: 17px;
    color: rgb(32, 32, 32);
}

.panel-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.panel-header p {
    margin: 0;
    font-size: 16px;
    color: rgb(255, 0, 0);
}

.panel {
    border-radius: 5px;
    /* Adjust border radius as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.side-bar-hockey {
    position: absolute;
    left: 0vw;
    top: -2vh;
    z-index: 9999;
  
  }
  