@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");

#root {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00021f;
} 

.body {
  margin: 0; 
  padding: 0;
  font-family: Dashboard;
  font-size: 17px; 
  background-color: #00021f !important; 
  color: #333; 
  background-size:cover; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: Dashboard;
  src: url(./fonts/Dashboard.otf);
}

::-webkit-scrollbar {
  background-color: rgb(0, 123, 139);
  width: 0.7vw;
}

::-webkit-scrollbar-thumb {
  background: #535353;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}