body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Make sure the body fills the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page {
    background-image: url('./assets/landing_bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under-logo {
    position: relative;
    top: 0%;
    /* Adjust as needed */
    left: 5%;
}

.landing-container {
    background-color: rgba(0, 0, 34, 0.795);
    height: 110vh;
    width: 100%;
}

.landing-reviews {
    height: 75%;
    width: 30%; /* Adjust the width as a percentage of the viewport width */
    margin-top: 5vh; /* Adjust the top margin as a percentage of the viewport height */
    padding: 2%;
    background-color: #444f8300;
    color: white;
    border-radius: 5vw; /* Adjust the border radius as a percentage of the viewport width */
    overflow: hidden;
    position: relative;
    top: -83vh; /* Adjust the top position as a percentage of the viewport height */
    left: 54%; /* Adjust the left position as a percentage of the viewport width */
    transform: translateX(-50%); /* Center horizontally */
    animation: slideInRightToLeft 1.5s forwards;
}

.user-logo {
    width: 5%;
    border: 4px solid grey;
    border-radius: 100px;
    position: absolute;
    top: 32.2vh;
    left: 13.5vw;
}

.comment-bubble {
    width: 34%;
    position: relative;
    top: 3.5vh;
    left: 57vw;
}

.stars-image {
    width:19%;
    position: relative;
    top: 14vh;
    left: 19.1vw;
}

@keyframes slideInRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/* Define the slide animation */
@keyframes slideInRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.landing-reviews h2 {
    color: rgb(228, 228, 228);
    font-family: cabinitalic;
    font-size: 0.8vw; /* Adjust font size as a percentage of the viewport width */
    position: relative;
    top: 27.8vh;
    left: 14vw;
}

.landing-reviews h3 {
    color: rgb(126, 126, 126);
    font-family: cabin;
    font-size: 0.95vw; /* Adjust font size as a percentage of the viewport width */
    position: relative;
    top: 12.8vh;
    left: -5.2vw;
    

    /* Add slide animation */
    animation: slideInRightToLeft 2.5s forwards;
}

@keyframes slideInRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}



.landing-reviews p {
    height: 50%; /* Adjust height to fill the parent container */
    width: 65%; /* Adjust width to fill the parent container */
    padding: 10%; /* Adjust padding as needed */
    background-color: #47474700;
    color: rgba(255, 255, 255, 0.367);
    font-family: cabinitalic;
    font-weight: lighter;
    font-size: 30px; /* Adjust font size as a percentage of the viewport width */
    line-height: 1.35em;
    text-wrap:pretty;
    border-radius: 5vw; /* Adjust border radius as a percentage of the viewport width */
    position: relative;
    top: 19.5vh; /* Adjust top position as a percentage of the viewport height */
    left: 11vw; /* Adjust left position as a percentage of the viewport width */
    animation: revealText 1.5s forwards;


}

@keyframes revealText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.review-image {
    position: relative;
    top: -5vh;
    left: -24vw;
    background-color: rgba(139, 139, 139, 0);
    z-index: 9994;
}



.logo {
    position: relative;
    top: 26vh; /* Adjust using vh */
    left: 18.5vw; /* Adjust using vw */
    width: 7%; /* Adjust width as a percentage of the viewport width */
}

.ts-logo {
    position: relative;
    top: 32.5vh; /* Adjust using vh */
    left: 8vw; /* Adjust using vw */
    width: 15%; /* Adjust width as a percentage of the viewport width */
}



.content {
    margin-top: -3.5vh;
    margin-left: 32vh;
    position: relative;
    top: -35px;
}

.content p {
    color: rgb(197, 197, 197);
    font-family: nowayback;
    font-weight: normal;
    font-size: 1.5vh;
    position: relative;
    top: -3.7vh;
    left: -4.5vh;
    text-shadow: 0px 2.5px 6px rgba(0, 0, 0, 0.99);
}

.landing-button {
    font-family: cabin;
    font-weight: 0;
    font-size: 1.6vh;
    color: #fff;
    background-color: #005170;
    padding: 1.3vh 2.7vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 55.7vh;
    left: 12vw;
}

.landing-button:hover {
    transition: 100ms;
    padding: 1.3vh 2.7vh;
    transform: translateY(-0px);
    background-color: #ffffff;
    color: #004864;
}

.price-landing-button {
    font-family: cabin;
    font-weight: 0;
    font-size: 1.6vh;
    color: #fff;
    background-color: #00000000;
    padding: 1.1vh 3vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 55.8vh;
    left: 20vw;
    border: 2.5px solid rgb(255, 255, 255);
}

.price-landing-button:hover {
    transition: 100ms;
    padding: 1.1vh 3vh;
    transform: translateY(-0px);
    background-color: #ffffff;
    color: #004864;
    border: solid 2.5px #004864;
}

@font-face {
    font-family: "cabin";
    src: url('./fonts/cabin.ttf');
}

@font-face {
    font-family: "nowayback";
    src: url('./fonts/nowayback.ttf');
}

h1 {
    font-family: cabin;
    font-size: 3.5vh;
    color: #ff0000;
    font-weight: normal;
    position: absolute;
    margin-left: 20vw;
}

.motto {
    font-family: cabin;
    font-size: 3.5vh;
    font-weight: normal;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 37vh;
    left: 5vw;
    margin-left: 6.5vw;
}

.motto-two {
    font-family: cabin;
    font-size: 3.5vh;
    font-weight: normal;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 41.5vh;
    left: 7vw;
    margin-left: 6.5vw;
}

.slid {
    color: rgb(255, 0, 0);
    position: absolute;
    font-size: auto;
    font-weight: normal;
    margin-top: 15px;
    top: 43.8vh;
    left: -19.6vw;
    display: inline-flex;
    margin-left: 6.5vw;

}

.slider {
    position: relative;
    top: -16vh;
    height: 1.25em;
    width: 1400px;
    overflow: hidden;
    margin-bottom: 6vh;
}

.slider__word {
    font-family: cabin;
    font-size: auto;
    font-weight: normal;
    position: absolute;
    margin-left: 53%;
    margin-bottom: 1vh;
    width: 100%;
    height: 10vh;
    line-height: -400px;
    transform: translateY(100%);
    animation: slide 9.5s linear infinite;
    color: #007dc5;
}

.slider__word:nth-child(0) {
    animation-delay: 0.1s;
}

.slider__word:nth-child(1) {
    animation-delay: 1.5s;
}

.slider__word:nth-child(2) {
    animation-delay: 3s;
}

.slider__word:nth-child(3) {
    animation-delay: 4.5s;
}

.slider__word:nth-child(4) {
    animation-delay: 6s;
}

.slider__word:nth-child(5) {
    animation-delay: 7.5s;
}

/* Better */

.slider__word:nth-child(6) {
    animation-delay: 9s;
}

/* Faster */

.slider__word:nth-child(7) {
    animation-delay: 9.5s;
}






@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }


    30% {
        transform: translateY(95%);
        opacity: 0;
    }

    45% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    60% {
        transform: translateY(-100%);
        opacity: 1;
    }

    80% {
        transform: translateY(-120%);
        opacity: 0;
    }

    100% {
        transform: translateY(-150%);
        opacity: 0;
    }
}

@font-face {
    font-family: cabinitalic;
    src: url(./fonts/cabinitalic.ttf);
}