@import "rsuite/dist/rsuite.css";

#root{ padding: 10px; }

.navside {
    background-color: red;
    height: 190%;
    position: absolute;
    padding-top: 1vh;
    top: 30vh;
    left: 7vw;
    font-size: 10px;
    font-family: Dashboard;
}