body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /* Add background image */
}

.pricing-page {
    background-color: rgba(0, 0, 0, 0.849);
    height: 250vh;
    /* Adjusted to 100vh */
    width: 100%;
    background-image: url('./assets/pricing_bg.png');
    /* Set background image size to cover the entire viewport */
    background-size: 100% 100%;
    /* Center the background image */
    background-position: center;
    /* Ensure the background image stays fixed as the viewport scrolls */
    background-attachment: fixed;
}

.pricing-container {
    height: 250vh;
    width: 100vw;
    background-color: #0000007e;
    color: white;
}


.pricing-header {
    position: absolute;
    top: -35vh;
    left: -18vw;
    background-color: rgba(197, 0, 0, 0);
    font-family: Oswald;
    font-size: 50px;
    color: white;
}

.pricing-deals {
    position: relative;
    top: 98vh;
    left: 15.5vw;
    background-color: rgba(255, 255, 0, 0);
    height: 25.5%;
    width: 17.35%;
    border-radius: 25px;
    border: 1.5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Oswald;
    text-align: center;
}

.free-header {
    position: relative;
    top: 3vh;
    left: 0.5vw;
}

.free-list {
    list-style-type: none;
    font-size: 50px;
    position: relative;
    top: 13vh;
    left: -0.5vw;
    text-align: center;

}

li {
    font-weight: 100;
    line-height: 45px;
}

.price-one {
    font-family: Oswald;
    font-weight: bold;
    color: white;
    position: relative;
    top: 20vh;
    left: 0vw;
}


.pricing-deals-one h2 {
    position: relative;
    top: 15vh;
    left: 2vw;
    color: white;
    font-family: Oswald;
    font-size: 34px;
}

.price-two {
    font-family: Oswald;
    font-weight: bold;
    color: white;
    position: relative;
    top: 2vh;
    left: -11vw;
}

.pricing-deals-two h2 {
    position: relative;
    top: 3vh;
    left: 7vw;
    color: white;
    font-family: Oswald;
    font-size: 34px;
}

.pricing-deals-two {
    position: relative;
    top: 34.5vh;
    left: 40vw;
    background-color: rgba(43, 255, 0, 0);
    height: 25.2%;
    width: 17.35%;
    border-radius: 25px;
    border: 1.5px solid rgb(255, 255, 255);
    color: white;
    font-family: Oswald;
    font-size: 40px;
}

.pricing-deals-three {
    position: relative;
    bottom: 29vh;
    left: 65.5vw;
    background-color: rgba(255, 255, 0, 0);
    height: 25.5%;
    width: 17.35%;
    border-radius: 25px;
    border: 1.5px solid rgb(255, 255, 255);
    color: white;
    font-family: Oswald;
    font-size: 30px;
}


.basic-list {
    list-style-type: none;
    position: relative;
    top: 5vh;
    right: 0.5vw;
    text-align: center;
}

li {
    font-weight: 100;
    line-height: 45px;
    font-size: 20px
}

.price-three {
    font-family: Oswald;
    font-weight: bold;
    color: white;
    position: relative;
    top: 3vh;
    left: -11.5vw;
}

.pricing-deals-three h2 {
    position: relative;
    top: 4vh;
    left: 7.5vw;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 34px;
}

.pro-list {
    list-style-type: none;
    position: relative;
    top: 5vh;
    right: 0.5vw;
    text-align: center;
}

.floating-arrow-up,
.floating-arrow-down {
    position: fixed;
    cursor: pointer;
    animation: floatUpDown 2s ease-in-out infinite alternate;
    /* Apply the animation */
    z-index: 999;
    /* Ensure the arrows are above other content */
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
        /* Adjust the floating distance as needed */
    }
}

.floating-arrow-up {
    top: 30vh;
    right: 4vw;
}

.floating-arrow-down {
    top: 60vh;
    right: 3.9vw;
}

.down {
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.up {
    right: 50%;
    bottom: 20px;
    transform: translateX(50%);
}

.arrow-img {
    width: 150px;
    height: 150px;
}

.trial-button {
    font-family: cabin;
    font-weight: bold;
    font-size: 1.3vh;
    color: #ffffff;
    background-color: #ff510000;
    padding: 1.3vh 4vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 8vh;
    left: -19vw;
    border: 2px solid rgb(255, 81, 0);
}

.trial-button:hover {
    transition: 100ms;
    padding: 1.4vh 4vh;
    transform: translateY(-0px);
    background-color: #ff5100;
    color: #ffffff;
    border: 2.5px solid rgb(255, 255, 255);
}

.buy-now-one {
    font-family: Oswald;
    font-weight: bold;
    font-size: 1.3vh;
    color: #ffffff;
    background-color: #ff510000;
    padding: 2vh 9.5vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50vh;
    left: -22vw;
    border: 3px solid rgb(255, 81, 0);
}

.buy-now-one:hover {
    transition: 100ms;
    padding: 2vh 9.5vh;
    transform: translateY(-0px);
    background-color: #ffffff;
    color: #000000;
    border: 3px solid rgb(255, 81, 0);
}

.buy-now-two {
    font-family: Oswald;
    font-weight: bold;
    font-size: 1.3vh;
    color: #ffffff;
    background-color: #ff510000;
    padding: 2vh 9.5vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50vh;
    left: 2.5vw;
    border: 3px solid rgb(255, 81, 0);
}

.buy-now-two:hover {
    transition: 100ms;
    padding: 2vh 9.5vh;
    transform: translateY(-0px);
    background-color: #ffffff;
    color: #000000;
    border: 3px solid rgb(255, 81, 0);
}

.buy-now-three {
    font-family: Oswald;
    font-weight: bold;
    font-size: 1.3vh;
    color: #ffffff;
    background-color: #ff510000;
    padding: 2vh 9.5vh;
    box-shadow: rgb(0, 0, 0) 0px 4px 26px 4px;
    border-radius: 0vh;
    transition: 100ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 18vh;
    left: 3vw;
    border: 3px solid rgb(255, 81, 0);
}

.buy-now-three:hover {
    transition: 100ms;
    padding: 2vh 9.5vh;
    transform: translateY(-0px);
    background-color: #d1d1d1;
    color: #000000;
    border: 3px solid rgb(255, 81, 0);
}


.features-container {
    position: relative;
    width: 60%;
    height: 18%;
    bottom: 75vh;
    left: 18vw;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 25px;
}



@font-face {
    font-family: Ana;
    src: url(./fonts/Ana.ttf);
}