body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 107, 107);
}

.pricing-page {
    text-align: center;
    height: 100%; /* Adjusted height to fill the viewport */
    width: 100%;
    position: relative;
}