body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /* Add background image */
    /* Set background image size to cover the entire viewport */
    background-size:contain;
    /* Center the background image */
    background-position: center;
    /* Ensure the background image stays fixed as the viewport scrolls */
    background-attachment: fixed;
}

.schedules-page {
    background-color: rgba(0, 0, 0, 0.781);
    height: 200vh; /* Adjusted to 100vh */
    width: 100%;
}

.schedules-container {
    padding: 5%;
    background-color: #0000009a;
    color: white;
}