/* Scroll buttons */
.floating-arrow-up,
.floating-arrow-down {
    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    width: 75px;
    /* Adjust as needed */
    height: 75px;
    /* Adjust as needed */
    background-color: rgb(255, 255, 255);
    /* Semi-transparent background */
    border-radius: 50%;
    /* Make it round */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it appears above other elements */
    transition: background-color 0.3s ease;
}

.floating-arrow-up:hover,
.floating-arrow-down:hover {
    background-color: rgb(255, 255, 255);
    /* Darken on hover */
}

.arrow-up-img,
.arrow-down-img {
    width: 58px;
    /* Adjust as needed */
    height: 49px;
    /* Adjust as needed */
}

/* Adjust position of the up arrow */
.floating-arrow-up {
    top: 20vh;
    right: 20px;
    /* Adjust as needed */
}

/* Adjust position of the down arrow */
.floating-arrow-down {
    top:80vh;
    right: 20px;
    /* Adjust as needed */
}