.main-feed {
    position: relative;
    background-color: #16282e;
    height: 106vh;
    width: 75vw;
    /* Adjust width for responsiveness */
    top: 13vh;
    left: -4vh;

}

.main-feed-container {
    height: 150%;
    width: 100%;
    background-color: #16282e;
    position: relative;
    top:15%;
    left: 5%;
}

.post-container {
    background-color: rgba(255, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 5vh;
    left:20vw;
    border: 0.01px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    z-index: 999;
}

.post-input-box {
    width: 18.5vw;
    height: 2vh;
    padding: 1.5vh;
    border: 0.1px solid rgb(0, 99, 149);
    border-radius: 35px;
    position: relative;
    top: 4.5vh;
    left: 2.5vw;
    font-family: cabin;
    font-size: 19px;
}

.post-button {
    position: relative;
    left: 3vw;
    top: 5vh;
    width: 6%;
}

.user-image {
    width: 3.5vw;
    border-radius: 35px;
    position: relative;
    top: 4.5vh;
    left: 1.5vw;
}

.video-gallery {
    position: absolute;
    top: 47vh;
    left: 30.8vw;
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    z-index: 9999;
    flex-wrap: wrap;
    height:600px;
}






.chat-render {
    position: absolute;
    left: 7vw;
    z-index: 9999;
}

.chat-window {
    background-color: rgba(255, 255, 0, 0.377);
}

.left-nav {
    height: 170%;
    width: 15%;
    position: absolute;
    top: 7vh;
    left: -0.5vw;
    border-right: 5px solid rgba(103, 103, 103, 0.492);
    background-color: #16282e;
    z-index: 9995;
}

.left-link-container {
    background-color: rgba(0, 0, 255, 0);
    height: 35vh;
    position: relative;
    top: 0vh;
}

.left-link {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 55px;
    position: relative;
    bottom: 85vh;
    left: 3.5vw;
    font-family: Klavika;
    font-size: 23px;
    font-weight: bold;
    color: rgb(54, 54, 54);
    background-color: #021e27;
    text-decoration: none;
}

.left-link:hover {
    background-color: rgba(0, 68, 108, 0.465);
    max-width: 65%;
    border-radius: 25px;
    color: black;
    text-decoration: none;
}


.right-nav {
    height: 170%;
    width: 15.5%;
    position: absolute;
    top: 7vh;
    right: -1.4vw;
    border-left: 5px solid rgba(103, 103, 103, 0.492);
    background-color: #16282e;
    z-index: 9995;
}

.friends-list {
    background-color: rgba(255, 0, 0, 0);
    height: 400px;
    position: relative;
    top: 25vh;
    border-top: 2px solid rgba(128, 128, 128, 0.58);
    padding-top: 20px;
}

.online {
    font-family: cabin;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 99, 149);
    text-align: left;
    position: relative;
    top: 25vh;
    right: 20.5vw;
    width: 100%
}

.friend-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4vh;
    margin-bottom: 10px;
    position: relative;
    left: 1vw;
}

.friend-name {
    display: flex;
    /* flex-direction: row-reverse; */
    /* Remove this line */
    position: relative;
    top: -3.7vh;
    left: 3.4vw;
    font-family: Cabin;
    font-size: 20px;
    text-align: right;
    color: rgb(89, 89, 89);
}


.top-navbar {
    margin-top: 0vh;
    width: 110%;
    /* Adjust width for responsiveness */
    height: 10vh;
    /* Adjust height for responsiveness */
    padding: 1vh;
    /* Adjust padding for responsiveness */
    background-color: #27444f;
    /* Light grey, adjust as needed */
    display: flex;
    justify-content: center;
    /* Center the search bar */
    position: absolute;
    left: -18vh;
    top: 0vh;
    /* Adjust left position for responsiveness */
    border-bottom: 6px solid rgb(0, 99, 149);
    z-index: 9997;
}

.left-nav-link {
    position: relative;
    top: -9vh;
    right: 112vw;
}


.right-nav-link {
    position: relative;
    top: -9vh;
    right: 63vw;
}


.user-image-nav {
    width: 27%;
    position: relative;
    top: 2.5vh;
    left: 43.8vw;
}

.logout-nav {
    width: 19%;
    position: relative;
    top: 2.5vh;
    left: 43.5vw;
}

.nav-link img {
    margin-right: 10px;
    /* Adjust the margin-right to increase or decrease spacing */
}

.friends-icon {
    width: 18%;
    position: relative;
    top: 31vh;
    left: 5.5vw;
}


.search-bar {
    width: 500px !important;
    height: .7vh;
    padding: 1.5vh;
    border: 4px solid rgb(0, 99, 149);
    border-radius: 45px;
    position: relative;
    top: 33vh;
    left: 2vw;
    font-family: cabin;
    font-size: 19px;
}

.side-navbar {
    width: 25vw;
    height: 109vh;
    padding: 1vh;
    /* Adjust padding for responsiveness */
    background-color: #002aff;
    /* Light grey, adjust as needed */
    z-index: 9996;
}

.side-navbar.left {
    position: relative;
    top: 1vh;
    left: -40.5vw;
    /* Adjust left position for responsiveness */

}

.side-navbar.left::after {
    content: '';
    position: absolute;
    top: 0vh;
    /* Adjust the top position to where you want the border to start */
    bottom: 0%;
    /* Adjust the bottom position to where you want the border to end */
    right: 0;
    border-right: 8px solid rgb(0, 99, 149);
}

.side-navbar.right {
    position: relative;
    top: 7vh;
    left: 45.7vw;
    /* Adjust left position for responsiveness */
}

.side-navbar.right::after {
    content: '';
    position: absolute;
    top: 12.4%;
    /* Adjust the top position to where you want the border to start */
    bottom: 0%;
    /* Adjust the bottom position to where you want the border to end */
    left: 0;
    border-left: 8px solid rgb(0, 99, 149);
}


.inbox-logo {
    width: 1.55vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 12vh;
    left: 75.1vw;
    /* Adjust left position for responsiveness */
}


.message-logo {
    width: 1.35vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 12.4vh;
    left: 78.3vw;
    /* Adjust left position for responsiveness */
}

.notification-logo {
    width: 1.85vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 11.8vh;
    left: 81vw;
    /* Adjust left position for responsiveness */
}


.home-logo {
    width: 1.55vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 12vh;
    left: 81.1vw;
    /* Adjust left position for responsiveness */
}

.reels-logo {
    width: 1.9vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 11.7vh;
    left: 86.1vw;
    /* Adjust left position for responsiveness */
}

.team-logo {
    width: 1.6vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 12vh;
    left: 91.5vw;
    /* Adjust left position for responsiveness */
}

.bracket-logo {
    width: 1.6vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 12.1vh;
    left: 97vw;
    /* Adjust left position for responsiveness */
}

.social-sync {
    width: 4vw;
    /* Adjust width for responsiveness */
    position: absolute;
    top: 1vh;
    left: 11.5vw;
    /* Adjust left position for responsiveness */
}

.sync-text {
    font-family: cabin;
    font-weight: bolder;
    color: rgb(0, 117, 171);
    font-size: 2rem;
    /* Adjust font size for responsiveness */
    position: absolute;
    top: 4.5vh;
    left: 15.2vw;
    /* Adjust left position for responsiveness */
}

.content {
    display: flex;
}

@font-face {
    font-family: Klavika;
    src: url(./fonts/klavika.otf);
}