/* Import rsuite styles */
@import "rsuite/dist/rsuite.css";

#root {
  padding: 105%;
}

/* Apply styles to the sports table container */
.sports-table {
  position: relative;
  background-color: rgba(151, 151, 151, 0);
  color: rgb(255, 255, 255);
  font-family: Dashboard;
  font-weight: lighter;
  font-size: 1.4rem;
  line-height: 0px;
}

/* Adjust cell content alignment */
.rs-table-cell-content {
  display: flex;
  align-items: center; /* Adjust the vertical alignment as needed */
}

@font-face {
  font-family: Dashboard;
  src: url(./fonts/Dashboard.otf);
}
