.sports-wrapper {
    display: flex;
    background-color: rgba(0, 89, 100, 0.808);
    min-height: 100vh;
    width: 100vw;
    background-image: url('./assets/sports_bg.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0vh;
    left: 0vw;
}



.sports-container-parent {
    height: 100%;
    width: 100%;
    /* Adjust the width as a percentage of the viewport width */
    padding: 5%;
    background-color: #000000c9;
    color: white;
    position: relative;
    z-index: 900;
}