



/* Apply styles to the sports table container */
.sports-table {
  position: relative;
  background-color: rgba(151, 151, 151, 0);
  color: #ffffff;
  font-family: Dashboard;
  font-weight: lighter;
  font-size: 1.25rem;
  line-height: 0px;
  width: 100vw;
  border:1px solid rgb(255, 187, 0);
}

/* Adjust cell content alignment */
.rs-table-cell-content {
  display: flex;
  align-items: center; /* Adjust the vertical alignment as needed */
  background-color: #ffffff00;
}

@font-face {
  font-family: Dashboard;
  src: url(./fonts/Dashboard.otf);
}
