body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Add background image */
}

.sports-page-parent {
    background-color: rgba(228, 0, 0, 0);
    height: 200vh;
    width: 100%;
}

.sports-container-parent {
    height: 100%;
    width: 100%; /* Adjust the width as a percentage of the viewport width */
    padding: 5%;
    background-color: #000000c9;
    color: white;
    position: relative;
    z-index: 900;
}