

.side-bar-dash {
    position: sticky;
    width: 285px;
    height: auto;
}

.dashboard-nav-item {
    color: #008b8b;
  }

  .group-nav-item {
    color: yellow;
  }
  
  .advanced-nav-item {
    color: #161616
  }
  
  .settings-nav-item {
    color: yellow;
  }

  .ice-panel-card {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(255,255,255,0.1); 
  box-shadow: 0px 1px 16px 0px rgba(255, 255, 255, 0.205);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .ice-panel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.35);
  }

