.custom-timeline {
    padding-top: 60px;
    padding-left: 85px;
    width: 17%;
    height: 70%;
    position: absolute;
    right: 6vw;
    top: 18vh;
    font-size: 18px;
    background-color:#000144; /* Dark background for the card */
    color: #e0e0e0; /* Light text for readability */
    border-radius:28px; /* Rounded corners for the card */
    box-shadow: 0px 8px 16px 0px rgba(209, 209, 209, 0.2); /* Subtle shadow for depth */
    z-index: 9998;
    

    .rs-timeline-item-custom-dot {
        .rs-icon {
            position: absolute;
            background: #fff;
            top: 0;
            left: -2px;
            border: 2px solid #ddd;
            width: 60px;
            height: 40px;
            border-radius: 50%;
            font-size: 12px;
            color: #999;
            margin-left: -13px;
            justify-content: center;
            padding: 8px;
        }
    }

    .rs-timeline-item-content li {
        margin-left: 24px;
        font-size: 23px;
        line-height: 45px;
    }
}

.rs-timeline-item-content p {
    margin: 0;
}

h1 {
    position: absolute;
    bottom: 45vh;
    right:-10vw;
    font-family: Dashboard;
    font-size: 40px;
    padding-right: 13vw;
}

li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 2rem;
    font-size: 15px;
}